.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #f4f4f4;
    .username-welcome {
        font-size: 20px;
    }
    .nav-links{
        display: flex;
        gap: 10px;
        list-style: none;
        margin-right: 50px;
        a {
            text-decoration: none;
        }
    }

}